/* 
  主题样式，明亮模式和黑暗模式博客配色设置
*/


/* 配色: #ebe8e1 #dedad2 #6b6e77 #595a5c #434446 #61bcb7------------------------- */
/* 配色: #455A64 #607D8B #CFD8DC #212121 #BDBDBD #795548------------------------- */
/* light模式 博客配色 */
:root {
  --radius: 0px;
  /* post背景颜色 */
  --theme: #afc6d2;
  /* 博客卡片背景颜色 */
  --entry: #ebeae4;
  /* 网页字体颜色 */
  --primary: #002FA7; 
  --secondary: #002fa7;
  --third: #ebe8d9;
  /* 搜索/返回顶部按钮背景颜色 */
  --tertiary: #596b74;
  /* post内容字体颜色 */
  --content: #212121;
  /* --hljs-bg: rgb(28, 29, 33); */
  /* 代码/tag背景颜色 */
  --code-bg: #cbcbcb;
  /* 边框颜色 */
  --border: #002FA7;
  /* 进度条颜色 */
  --progress: #ffbf1e;
}

/* ----------------------------------------------- */
/* dark模式 博客配色 */
/* #ebe8e1 #dedad2  #6b6e77 #595a5c #434446 */

.dark {
  /* post背景颜色 */
  --theme: #212121;
  --entry: #212121;
  /* 网页字体颜色 */
  --primary: #efefef;
  --secondary: #9d9d9d;
  --third: #cbcbcb;
  /* tag等背景颜色 */
  --tertiary: #002FA7;
  /* post内容字体颜色 */
  --content: #cbcbcb;
  /* --hljs-bg: rgb(46, 46, 51); */
  /* 代码背景颜色 */
  --code-bg: #212121;
  --border: #9d9d9d;
}
.dark .post-tags a:hover {
  background-color: var(--theme);
}
.dark .search-link {
  color: var(--secondary);
}
/* ------------------------------------------------------------ */

/**
  * 主页设置
**/
/* 导航栏背景和字体 */
.nav {
  background-color: var(--theme);
}
/* home下方小字颜色 */
.home-info .entry-content {
  color: var(--secondary);
}
/* home list卡片背景颜色 */
.list {
  background-color: var(--theme);
}

/* read more 样式 */
.title-link:hover {
  color: var(--border);
  border-bottom: 1px solid var(--border);
} 
/* 主页home更多博客 prev/next */
.pagination .next:hover,
.pagination .prev:hover {
  color: var(--tertiary);
  border-bottom: 1px solid var(--tertiary);
}

/* 搜索图标颜色 */
.search-link, .top-link {
  color: var(--third);
  background: transparent;
  box-shadow: 0 0 0 0;
}
.search-link:hover {
  color: var(--primary);
}

/* 下一篇博客功能 */
.paginav {
  line-height: 25px;
  margin: 10px 0;
  background-color: transparent;
  border: none;
}
.paginav .prev,
.paginav .next {
  padding: 0 1px;
}
.paginav .next:hover,
.paginav .prev:hover {
  background-color: transparent;

}
.paginav .prev span,
.paginav .next span {
  color: var(--secondary);
}

.footer,
.footer .entry-footer {
  color: var(--third);
}
.footer a {
  border-bottom-color: var(--third);
}
/************** 主页设置 *********************************/

/**
  * 单个post设置
**/
/* 单个博客框背景颜色 */
.post-single {
  padding: 30px;
  background-color: var(--entry);
}
/* 面包屑导航 */
.breadcrumbs {
  font-size: 13px;;
}
.breadcrumbs a{
  /* padding: 5px; */
  font-size: 14px;
  color: var(--secondary);
}
.breadcrumbs a:hover {
  color: var(--primary);
}
/* 目录背景颜色 */
.toc {
  background-color: var(--entry);
  border: none;
}
/* 分享按钮背景 */
.share-buttons {
  background-color: var(--entry);
  border: none;
}

/* 单个post下方footer样式 */
.post-footer {
  margin-top: 5px;
}
/* footer标签颜色 */
.post-tags a {
  background-color: transparent;
  /* border: 1px solid var(--theme); */
}
.post-tags a:hover {
  background-color: var(--code-bg);
}
/************** 单个post设置 *********************************/

/**
  * 其他设置
**/
/* 表格框线 */
th {
  border-bottom: 1px solid var(--border) !important;
}
/* 分割线 */
.post-content hr {
  height: 1px;
  background-color: var(--border);
}
/* archive */
.archive-meta {
  color: var(--third);
}
/* tag和category标签颜色 */
.terms-tags a {
  background-color: var(--entry);
  border-radius: 0;
}
.terms-tags a:hover {
  background-color: var(--tertiary);
}
/* 搜索框 */
#searchbox input{
  border: 2px solid var(--entry);
}
#searchbox input::-webkit-input-placeholder {
  color: var(--third);
}
#searchbox input:focus {
  border-color: var(--tertiary);
}